/* DEVELOPER Sanavi Kothari, IS117-004, Fall 2024 */
.navbar {
    background-color: #228B22 !important; 
    padding: 1rem 1.5rem; 
    height: 70px; 
}

body {
    background-color: #FAF0E6; 
    margin: 0;
    

.content {
    padding: 30px 15px;
    margin-top: 40px;
}


.footer {
    background-color: rgba(34, 139, 34, 0.7);
    position: fixed;
    color: black;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    border-top: 2px solid #6DBE45;
    font-size: 14px;
}



    

    
